<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.just.first">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.CALL_PHONE" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />

  <application
    android:name=".application.FirstLineApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".main.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".chapter02.MenuActivity" />
    <activity android:name=".chapter02.IntentActivity" />
    <activity android:name=".chapter02.LifeCycleActivity" />
    <activity android:name=".chapter02.RecoveryActivity" />
    <activity android:name=".chapter02.KillAllActivity" />
    <activity android:name=".chapter02.StartActivity" />
    <activity android:name=".chapter03.CommonViewActivity" />
    <activity android:name=".chapter03.RelativeLayoutActivity" />
    <activity android:name=".chapter03.PercentLayoutActivity" />
    <activity android:name=".chapter03.CustomViewActivity" />
    <activity android:name=".chapter03.ArrayAdapterActivity" />
    <activity android:name=".chapter03.RecyclerViewActivity" />
    <activity android:name=".chapter04.SimpleFragmentActivity" />
    <activity android:name=".chapter04.QualifierActivity" />
    <activity android:name=".chapter04.NewsContentActivity" />
    <activity android:name=".chapter04.NewsTitleActivity" />
    <activity android:name=".chapter05.NetworkChangeActivity" />
    <activity android:name=".chapter05.SendBroadcastActivity" />
    <activity android:name=".chapter05.LocalBroadcastActivity" />
    <activity android:name=".chapter06.FileStoreActivity" />
    <activity android:name=".chapter06.SharedPreferencesActivity" />
    <activity android:name=".chapter06.SQLiteActivity" />
    <activity android:name=".chapter06.LitePalActivity" />
    <activity android:name=".chapter07.RunTimePermissionActivity" />
    <activity android:name=".chapter07.ContactsActivity" />
    <activity android:name=".chapter08.NotificationActivity" />
    <activity android:name=".chapter08.NotificationAdvancedActivity" />



    <activity android:name=".chapter13.AlarmActivity" />
    <activity android:name=".chapter13.AlarmActivityG" />

    <service android:name=".chapter13.LongRunningService" />

    <receiver android:name=".chapter13.AlarmReceiver" />

    <receiver
      android:name=".chapter05.BootCompleteReceiver"
      android:enabled="true"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
    <receiver
      android:name=".chapter05.CustomReceiver"
      android:enabled="true"
      android:exported="true">
      <intent-filter android:priority="100">
        <action android:name="com.just.first.CUSTOM" />
      </intent-filter>
    </receiver>

    <provider
      android:name=".chapter07.DataBaseProvider"
      android:authorities="com.just.first.provider"
      android:enabled="true"
      android:exported="true" />
  </application>

</manifest>